.orderboxColaboradores{
    margin-top: 1in;
}

.container__box-cardPrimaryCollab{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    margin-left: -1.5in;
    margin-right: -1.5in;
}

.teamImg{
    width: 4.8in;
    height: 3in;
    border: 5px red dotted;
}