body {
background-color: #566573;
}



.bg-img {
background-color: #DDD6F3;
background-image: url(pictures/bg-beach.jpg);
}

@media (min-width: 992px) {
    .rounded-lg-3 { border-radius: .3rem; }
}

.img-carousel {
    width: 1280px;
    height: 720px;
    object-fit: cover;
}

