.perfil-usuario {
    background: linear-gradient(#f4693f, transparent);
    color: #333;
}

.bg-colorgradient {
    background-color: #ffa680;
    background-image: linear-gradient(180deg, #ffa480 0%, #dfc2b6 33%, #ffece4e7 66%, #ffffff 100%);
}
.avatar-perfil {
    width: 9rem;
    height: 9rem;
    background-attachment: fixed;
    background-color: aliceblue;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 12px 2px rgba(0, 0, 0, .2);
}
.avatar-perfil img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    overflow: hidden;
}
/* Estilos para compresión de imagen */
img {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    -webkit-backface-visibility: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.perfil-usuario .datos-perfil {
    position: absolute;
    display: block;
    width: calc(100% - 230px - 8rem);
    right: 0;
    bottom: 0;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 5px rgba(0, 0, 0, .2);
    padding-bottom: 1rem;
    padding-right: 1rem;
}
.perfil-usuario .titulo-usuario {
    font-size: 2.3rem;
    white-space: nowrap;
    margin-bottom: .5rem;
    overflow: hidden;
    text-overflow: ellipsis;
}
.perfil-usuario .bio-usuario {
    font-size: 1em;
    margin-bottom: .75rem;
}

.lista-perfil .col {
    padding: 8px 20px;
    font-weight: bold;
    border-radius: 8px;
    transition: all ease-in 100ms;
}
.perfil-usuario .lista-perfil .col:hover {
    background-color: #e26136;
    color: #fff;
}

.perfil-usuario .menu-perfil ul {
    display: flex;
    list-style: none;
    margin-left: calc(200px + 8rem);
    width: calc(100% - 200px - 8rem);
}
.perfil-usuario .menu-perfil ul li {
    margin-right: 1rem;
    padding: 8px;
}
.perfil-usuario .menu-perfil a {
    text-decoration: none;
    color: inherit;
    padding: 8px 20px;
    font-weight: bold;
    border-radius: 8px;
    transition: all ease-in 100ms;
}
.perfil-usuario .icono-perfil {
    display: none;
    margin-right: .75rem;
}

.form-user {
    background: rgba(184, 183, 183, 0.479);
}
.mensaje a {
    color: inherit;
    margin-right: .5rem;
    display: inline-block;
}
.mensaje a:hover {
    color: #309B76;
    transform: scale(1.4)
}
.form-label{
    font-weight: 600;
}
/* RESPONSIVE */

@media (max-width: 780px) {
    .perfil-usuario .contenedor-perfil {
        width: 100%;
    }
    .avatar-perfil {
        margin-left: calc(50% - 4.5rem);
        box-shadow: 0 0 12px 2px rgba(84, 24, 13, 0.322);
    }
    .perfil-usuario .datos-perfil {
        width: 100%;
        text-align: center;
        margin-top: 2rem;
        position: relative;
        display: block;
    }
    .perfil-usuario .bio-usuario {
        font-size: 1em;
        overflow:hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .perfil-usuario .titulo-usuario {
        font-size: 2.1rem;
    }
    .perfil-usuario .portada-perfil {
        height: 28rem;
    }
    .perfil-usuario .menu-perfil ul {
        flex-direction: column;
    }
    .perfil-usuario .lista-perfil {
        display: block;
    }
    .perfil-usuario .menu-perfil {
        margin-top: 2rem;
    }
    .perfil-usuario .menu-perfil ul {
        display: flex;
        list-style: none;
        margin-left: auto;
        margin-right: auto;
        padding-top: 2.5rem;
        width: 70%;
        background-color: #fff;
        border-radius: 12px;
        box-shadow: 0 0 12px 2px rgba(0, 0, 0, .1);
    }
    .perfil-usuario .icono-perfil {
        display: inline-block;
    }
}