{% extends "layout.html" %}
{% block titulo %} Artículos {{ current_user.username }} {% endblock %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/profile-styles.css')}}">
{% endblock %}

{% block contenido %}
<body>
  <section class="p-5 perfil-usuario">
    <div class="container-xl mt-5 mb-2 p-3 bg-light rounded-4 shadow-lg">
      <div class="container p-2 bg-light rounded-5 shadow" style="--bs-bg-opacity: .3;">
        <div class="container text-center">
          <div class="portada-perfil bg-colorgradient">
            <div class="avatar-perfil">
              <img class="img-thumbnail" src="/uploads/profile/{{ current_user.imgprofile }}" alt="">
                  </div>
                  <div class="datos-perfil">
                    <h4 class="titulo-usuario">{{ current_user.fullname }}</h4>
                    <p class="bio-usuario">Lorem ipsum dolor sit, amet consectetur adipisicing.</p>
                    <div class="container text-center">
                      <div class="row lista-perfil">
                        <div class="col">
                          {{ current_user.age }}
                        </div>
                        <div class="col">
                          {{ current_user.email }}
                        </div>
                        <div class="col">
                          {{ current_user.schoolgrade }}
                        </div>
                      </div>
                    </div>
                    </div>
                    <div class="opcciones-perfil">
                      <a href="{{ ('/edit-user') }}"><button>Editar Perfil</button></a>
                    </div>
                </div>
                <div class="menu-perfil">
                    <ul>
                        <li><a href="{{ ('/articles') }}" title="">Artículos</a></li>
                        <li><a href="{{ ('/comments') }}" title="">Comentarios</a></li>
                    </ul>
                </div>
        <style>
        .mensaje a {
            color: inherit;
            margin-right: .5rem;
            display: inline-block;
        }
        .mensaje a:hover {
            color: #309B76;
            transform: scale(1.4)
        }
        </style>
        <div class="container-sm rounded-4 form-user shadow-sm">
          <form action="/add-article" class="row g-3" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="col-md-6">
              <label class="form-label"><h2>Título del artículo</h2></label>
              <input name="title" type="text" class="form-control" required>
            </div>
            <div class="col-12 mb-4">
              <label class="form-label">Fecha de publicación</label>
              <input name="pdate" type="date" class="form-control"  pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))" required>
            </div>
            <div class="col-12 mb-4">
              <div class="input-group mt-3 mb-2 g-start-2">
                <select class="form-select" id="inputGroupSelect02" name="learningchannel" required>
                  <option selected>Elige el canal de aprendizaje</option>
                  <option value="Auditivo">Auditivo</option>
                  <option value="Visual">Visual</option>
                  <option value="Kinéstesico">Kinéstesico</option>
                </select>
                <label class="input-group-text" for="inputGroupSelect02">Opciones</label>
            </div>
            <div class="form-floating">
              <input class="form-control" placeholder="Agrega el contenido del artículo" style="height: 100px" type="text" name="content">
              <label for="floatingTextarea2">Contenido</label>
            </div>
            <br><br>
            <div class="col-12 mb-4">
              <button type="submit" class="btn btn-primary">Actualizar</button>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

{% endblock %}

{% block js %}{% endblock %}


