{% extends "layout.html" %}
{% block titulo %} Feed {% endblock %}

{% block css %}
{% endblock %}

{% block contenido %}
<div class="container-sm py-3 mt-2">
  <div class="highlight">
      <div class="mx-auto p-2">
          <div class="row mb-3 container-sm themed-container">
            {% for feed_item in feeds %}
                  <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-3">
                      <div class="card shadow-lg h-100 border">
                          {% for feed_item in feeds %}
                          <div class="card shadow-lg h-100 border">
                              <div class="card-body">
                                  <h5 class="card-title">
                                      {% if feed_item.author %}
                                      <span class="badge btn btn-bd-primary fs-6 border">
                                          {{ feed_item.author.username }}
                                      </span>
                                      <span class="badge fs-5 border">
                                          {{ feed_item.title }}
                                      </span>
                                      {% else %}
                                      <span class="badge btn btn-bd-primary fs-6 border">
                                          anónimo
                                      </span>
                                      {% endif %}
                                  </h5>
                                  <p class="card-text">{{ feed_item.content }}</p>
                                  {% if feed_item.imgcontent %}
                                  <img class="img-thumbnail img-fluid" src="{{ url_for('feed_image', feed_id=feed_item.feed_id) }}" width="420" height="480" loading="lazy" alt="preview">
                                  {% endif %}
                              </div>
                    <div class="card-footer text-center">
                        <small>
                            {% if feed_item.datepublicate %}
                                {{ feed_item.datepublicate.strftime("%A, %d %B %Y - %H:%M") }}
                            {% else %}
                                at an unknown time
                            {% endif %}
                        </small>
                    </div>
                          </div>
                          {% endfor %}
                      </div>
                  </div>
            {% endfor %}
          </div>
      </div>
  </div>
</div>

{% endblock %}

{% block js %}{% endblock %}