{% extends "layout.html" %}
{% block titulo %} Comming Soon! {% endblock %}

{% block css %}
{% endblock %}

{% block contenido %}
<div class="px-4">
<div class="container mt-5">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="display-1">En construcción...</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <h3 class="fw-light">¡Estamos trabajando en algo especial para ti!<br />Queremos que disfrutes de la experiencia, pero aún no estamos listos para mostrarte el resultado.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <img src="{{url_for('static', filename='images/features/contructores.jpg')}}" alt="Imagen de relleno" class="img-fluid rounded-3">
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <p class="lead">Te prometemos que el resultado será increíble. ¡Te estamos anunciando en todas las redes sociales donde se puede compartir una imagen! No te pierdas ese anuncio, ¡y que disfrutes de tus próximas actualizaciones!</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}{% endblock %}