{% extends "layout.html" %}
{% block css %}{% endblock %}
{% block titulo %} FAQs {% endblock %}
{% block contenido %}
<div class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Preguntas Frecuentes</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3 class="fw-light">¿Cómo puedo crear mi cuenta?</h3>
            <p class="lead text-body-secondary">Puedes crear tu cuenta de usuario en <a href="https://unitems.pythonanywhere.com/login">Login</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3 class="fw-light">¿Cómo funciona el intercambio?</h3>
            <p class="lead text-body-secondary">Puedes hacerlo en <a href="https://unitems.pythonanywhere.com/exchange">Intercambio</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3 class="fw-light">¿Cómo crear un blog?</h3>
            <p class="lead text-body-secondary">Puedes hacerlo en <a href="https://unitems.pythonanywhere.com/news">Blog</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h3 class="fw-light">¿Como puedo contactarme?</h3>
            <p class="lead text-body-secondary">Puedes hacerlo en <a href="https://unitems.pythonanywhere.com/us">Contacto</a></p>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}{% endblock %}