{% extends "layout.html" %}
{% block titulo %} UNItems {% endblock %}
{% block contenido %}

{% block css %}{% endblock %}
    <!-- Inicio -->
    <main>
    <!-- Portada -->
        <div class="container__cover div__offset">
            <div class="cover">
                <section class="text__cover">
                    <h1>Lorem ipsum dolor sit amet.</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus ratione at nihil aliquam possimus quibusdam eum. Dolor hic provident quos officiis consectetur eveniet? Ratione, eius iure ullam officia nostrum a.</p>
                    <a href="#" class="btn__text-cover btn__text">Empieza Ya</a>
                </section>
                <section class="image__cover">
                    <img src="{{url_for('static', filename='images/Cover/hero-img.png')}}" alt="">
                </section>
            </div>
        </div>

        <!-- Generador de confianza -->
        <div class="container__trust container__card-primary">
            <div class="trust card__primary">
                <div class="text__trust text__card-primary">
                    <p>Lorem ipsum.</p>
                    <h1>Encuentra todo tipo de materiales educativos</h1>
                </div>
                <div class="container__trust container__box-cardPrimary">
                    <div class="card__trust box__card-primary">
                        <img src="{{url_for('static', filename='images/TrustArea/anchor.png')}}" alt="">
                        <h2>Gestión</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, nisi iure. Quo, ipsa omnis, nostrum vitae tempore expedita enim non maiores, soluta quae est esse quidem provident adipisci neque odio?</p>
                    </div>
                    <div class="card__trust box__card-primary">
                        <img src="{{url_for('static', filename='images/TrustArea/archive.png')}}" alt="">
                        <h2>Análisis</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, nisi iure. Quo, ipsa omnis, nostrum vitae tempore expedita enim non maiores, soluta quae est esse quidem provident adipisci neque odio?</p>
                    </div>
                    <div class="card__trust box__card-primary">
                        <img src="{{url_for('static', filename='images/TrustArea/user.png')}}" alt="">
                        <h2>Calidad</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, nisi iure. Quo, ipsa omnis, nostrum vitae tempore expedita enim non maiores, soluta quae est esse quidem provident adipisci neque odio?</p>
                    </div>
                </div>
            </div>
        </div>

        <!--Sobre nosotros - Nuestro equipo-->

        <div class="container__about div__offset">
            <div class="about">
                <div class="text__about">
                    <h1>El equipo creativo más innovador</h1>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepto teur sint occae cat cupidatat non proident, sunt in culpa qui oficia deser unt mollit anim id est laborum.</p>
                    <a href="#" class="btn__text-about btn__text">Saber Más</a>
                </div>

                <div class="image__about">
                    <img src="{{url_for('static', filename='images/About/about-1.png')}}" alt="">
                    <img src="{{url_for('static', filename='images/About/about-2.png')}}" alt="">
                </div>
            </div>

        </div>

        <!--SERVICIOS-->

        <div class="container__service container__card-primary div__offset">
            <div class="service card__primary">
                <div class="text__service text__card-primary">
                    <p>QUE HACEMOS</p>
                    <h1>Servicio para resolver todo tipo de problema empresarial</h1>
                </div>

                <div class="container__card-service container__box-cardPrimary">
                    <div class="card__service box__card-primary">
                        <img src="{{url_for('static', filename='images/Services/grid.png')}}" alt="">
                        <h2>Control empresarial completo</h2>
                        <p>Pore et dolore magna aliqua. Ut enim ad minim veniam, quis nos trud exercitation</p>
                        <a href="#">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                    <div class="card__service box__card-primary">
                        <img src="{{url_for('static', filename='images/Services/cart.png')}}" alt="">
                        <h2>Control empresarial completo</h2>
                        <p>Pore et dolore magna aliqua. Ut enim ad minim veniam, quis nos trud exercitation</p>
                        <a href="#">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                    <div class="card__service box__card-primary">
                        <img src="{{url_for('static', filename='images/Services/camera.png')}}" alt="">
                        <h2>Control empresarial completo</h2>
                        <p>Pore et dolore magna aliqua. Ut enim ad minim veniam, quis nos trud exercitation</p>
                        <a href="#">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                    <div class="card__service box__card-primary">
                        <img src="{{url_for('static', filename='images/Services/headphone.png')}}" alt="">
                        <h2>Control empresarial completo</h2>
                        <p>Pore et dolore magna aliqua. Ut enim ad minim veniam, quis nos trud exercitation</p>
                        <a href="#">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                    <div class="card__service box__card-primary">
                        <img src="{{url_for('static', filename='images/Services/location.png')}}" alt="">
                        <h2>Control empresarial completo</h2>
                        <p>Pore et dolore magna aliqua. Ut enim ad minim veniam, quis nos trud exercitation</p>
                        <a href="#">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                    <div class="card__service box__card-primary">
                        <img src="{{url_for('static', filename='images/Services/file.png')}}" alt="">
                        <h2>Control empresarial completo</h2>
                        <p>Pore et dolore magna aliqua. Ut enim ad minim veniam, quis nos trud exercitation</p>
                        <a href="#">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}