{% extends "layout.html" %}
{% block titulo %} UNItems {% endblock %}

{% block css %}{% endblock %}

{% block contenido %}
    <!-- Inicio -->
<main>
    
    <!-- Portada -->
    <div class="container my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                <section class="text__cover">
                    <h1>UNItems</h1>
                    <p>Únete a nuestra comunidad y disfruta de los beneficios.</p>
                </section>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                    <a href="{{ ('/loginUser') }}"><button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Inicia Sesión</button></a>
                    <a href="{{ ('/blog') }}"><button type="button" class="btn btn-outline-secondary btn-lg px-4">Noticias</button></a>
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg clearfix">
                <figure class="figure my-2 p-3">
                    <img src="{{url_for('static', filename='images/Cover/hero-img.png')}}" class="figure-img img-fluid rounded-lg-3" alt="...">
                    <figcaption class="figure-caption text-end">Lorem ipsum.</figcaption>
                </figure>
            </div>
        </div>
    </div>

        <!-- Generador de confianza -->
        <div class="container__trust container__card-primary">
            <div class="trust card__primary">
                <div class="text__trust text__card-primary">
                    <p>Lorem ipsum.</p>
                    <h1>Encuentra todo tipo de materiales educativos</h1>
                </div>
                <div class="container__trust container__box-cardPrimary">
                    <div class="card__trust box__card-primary">
                        <img src="{{url_for('static', filename='images/TrustArea/anchor.png')}}" alt="">
                        <h2>Gestión</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, nisi iure. Quo, ipsa omnis, nostrum vitae tempore expedita enim non maiores, soluta quae est esse quidem provident adipisci neque odio?</p>
                    </div>
                    <div class="card__trust box__card-primary">
                        <img src="{{url_for('static', filename='images/TrustArea/archive.png')}}" alt="">
                        <h2>Análisis</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, nisi iure. Quo, ipsa omnis, nostrum vitae tempore expedita enim non maiores, soluta quae est esse quidem provident adipisci neque odio?</p>
                    </div>
                    <div class="card__trust box__card-primary">
                        <img src="{{url_for('static', filename='images/TrustArea/user.png')}}" alt="">
                        <h2>Calidad</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, nisi iure. Quo, ipsa omnis, nostrum vitae tempore expedita enim non maiores, soluta quae est esse quidem provident adipisci neque odio?</p>
                    </div>
                </div>
            </div>
        </div>

        <!--Sobre nosotros - Nuestro equipo-->

        <div class="container__about div__offset">
            <div class="about">
                <div class="text__about">
                    <h1>El equipo creativo más innovador</h1>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepto teur sint occae cat cupidatat non proident, sunt in culpa qui oficia deser unt mollit anim id est laborum.</p>
                    <a href="#" class="btn__text-about btn__text">Saber Más</a>
                </div>

                <div class="image__about">
                    <img src="{{url_for('static', filename='images/About/about-1.png')}}" alt="">
                    <img src="{{url_for('static', filename='images/About/about-2.png')}}" alt="">
                </div>
            </div>
        </div>

        <!--SERVICIOS-->

        <div class="container__service container__card-primary div__offset">
            <div class="service card__primary">
                <div class="text__service text__card-primary">
                    <p>QUE HACEMOS</p>
                    <h1>Servicio para resolver todo tipo de problema empresarial</h1>
                </div>

                <div class="container__card-service container__box-cardPrimary">
                    <div class="card__service box__card-primary">
                        <img src="{{url_for('static', filename='images/Services/grid.png')}}" alt="">
                        <h2>Control empresarial completo</h2>
                        <p>Pore et dolore magna aliqua. Ut enim ad minim veniam, quis nos trud exercitation</p>
                        <a href="#">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                    <div class="card__service box__card-primary">
                        <img src="{{url_for('static', filename='images/Services/cart.png')}}" alt="">
                        <h2>Control empresarial completo</h2>
                        <p>Pore et dolore magna aliqua. Ut enim ad minim veniam, quis nos trud exercitation</p>
                        <a href="#">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                    <div class="card__service box__card-primary">
                        <img src="{{url_for('static', filename='images/Services/camera.png')}}" alt="">
                        <h2>Control empresarial completo</h2>
                        <p>Pore et dolore magna aliqua. Ut enim ad minim veniam, quis nos trud exercitation</p>
                        <a href="#">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                    <div class="card__service box__card-primary">
                        <img src="{{url_for('static', filename='images/Services/headphone.png')}}" alt="">
                        <h2>Control empresarial completo</h2>
                        <p>Pore et dolore magna aliqua. Ut enim ad minim veniam, quis nos trud exercitation</p>
                        <a href="#">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                    <div class="card__service box__card-primary">
                        <img src="{{url_for('static', filename='images/Services/location.png')}}" alt="">
                        <h2>Control empresarial completo</h2>
                        <p>Pore et dolore magna aliqua. Ut enim ad minim veniam, quis nos trud exercitation</p>
                        <a href="#">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                    <div class="card__service box__card-primary">
                        <img src="{{url_for('static', filename='images/Services/file.png')}}" alt="">
                        <h2>Control empresarial completo</h2>
                        <p>Pore et dolore magna aliqua. Ut enim ad minim veniam, quis nos trud exercitation</p>
                        <a href="#">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
</main>
{% endblock %}