{% extends "layout.html" %}

{% block css %}{% endblock %}
{% block titulo %} <title>UNItems</title> {% endblock %}
{% block contenido %}
    <!-- Carousel -->
    <div class="container-fluid m-0 p-0">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{ url_for('static', filename='images/Cover/cover_1.jpg')}}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='images/Cover/cover_2.jpg')}}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='images/Cover/cover_4.jpg')}}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='images/Cover/cover_5.jpg')}}" class="d-block w-100" alt="...">
                </div>
            </div>
            <div class="carousel-control-prev position-absolute top-50 translate-middle-y start-0 me-3 ps-3" style="z-index: 1; left: 1rem; opacity: 0.5">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev" class="btn btn-dark border-0" aria-label="Previous">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </button>
            </div>
            <div class="carousel-control-next position-absolute top-50 translate-middle-y end-0 ms-3 pe-3" style="z-index: 1; right: 1rem; opacity: 0.5">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next" class="btn btn-dark border-0" aria-label="Next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>

    <!-- Generador de confianza -->
    <div class="container text-center mt-5">
        <div class="container p-2 align-items-center">
            <h1>Encuentra todo tipo de materiales educativos</h1>
            <hr>
        </div>
        <div class="row align-items-center">
            <div class="mt-2 col col-md-4 col-lg-4 col-xl-4">
                <div class="card h-100 box__card-primary">
                    <div class="card-body p-2">
                        <img class="my-2 card-image" src="{{url_for('static', filename='images/TrustArea/anchor.png')}}" alt="">
                        <h2>Gestión</h2>
                        <p class="card-text">Conectamos a los usuarios para facilitar intercambios, 
                        préstamos y compraventa de materiales educativos.
                        </p>
                    </div>
                </div>
            </div>
            <div class="mt-2 col col-md-4 col-lg-4 col-xl-4">
                <div class="card h-100 box__card-primary">
                    <div class="card-body p-2">
                        <img class="my-2 card-image" src="{{url_for('static', filename='images/TrustArea/archive.png')}}" alt="">
                        <h2>Análisis</h2>
                        <p class="card-text">Utilizamos datos para optimizar funcion y servicios, 
                        asegurando una plataforma más eficiente.
                        </p>
                    </div>
                </div>
            </div>
            <div class="mt-2 col col-md-4 col-lg-4 col-xl-4">
                <div class="card h-100 box__card-primary">
                    <div class="card-body p-2">
                        <img class="my-2 card-image" src="{{url_for('static', filename='images/TrustArea/user.png')}}" alt="">
                        <h2>Calidad</h2>
                        <p class="card-text">Velamos por la seguridad y la fiabilidad de las transacciones. 
                        Además ofrecemos un entorno confiable y transparente.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- HEROES -->
    <div class="m-0 p-0 container-fluid text-center bg-color-secondary">
        <div class="row align-items-center px-4 pt-5 my-5 text-center">
            <div class="col-md-7">
                <h1 class="display-4 fw-bold text-body-emphasis">Comunidad</h1>
                <p class="px-4 lead mb-4 fw-normal lh-base">En nuestra plataforma, proporcionamos a los alumnos una solución integral 
                    para sus necesidades educativas, creando un espacio donde la comunidad estudiantil puede colaborar 
                    y beneficiarse mutuamente. Nuestro enfoque se centra en la comodidad, la seguridad y la calidad, 
                    brindando a nuestros usuarios una experiencia confiable y satisfactoria en cada transacción.</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                    {% if current_user.is_anonymous %}
                    <a href="{{ ('/login') }}">
                        <button type="button" class="btn btn-bd-primary btn-lg px-4 me-sm-3">Inicia Sesión</button>
                    </a>
                    {% else %}
                    <a href="{{ ('/comming-soon') }}">
                        <button type="button" class="btn btn-outline-dark btn-lg px-4 me-sm-3 fw-bold">Blog</button>
                    </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-5">
                <div class="overflow-hidden clearfix mb-3">
                    <figure class="figure my-2 px-3 img__heroe">
                        <img src="{{url_for('static', filename='images/Cover/undraw_Code_thinking_re_gka2.svg')}}"  class="figure-img img-fluid" alt="..." width="500" height="300" loading="lazy">
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <!--SERVICIOS-->
    <div class="container text-center">
        <hr>
        <div class="container align-items-center">
            <p>QUE HACEMOS</p>
            <h1>Somos una plataforma dedicada al intercambio de material educativo.</h1>
        </div>
        <div class="row align-items-center">
            <div class="mt-2 col">
                <div class="h-100 card box__card-primary align-items-center">
                    <img class="my-2 card__service-img" src="{{url_for('static', filename='images/Services/grid.svg')}}" alt="">
                    <h2>Encuentra todo tipo de materiales</h2>
                    <p>Sección General</p>
                    <a href="{{ ('/comming-soon') }}" class="card__service-i">
                        <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="mt-2 col">
                <div class="h-100 card box__card-primary align-items-center">
                    <img class="my-2 card__service-img" src="{{url_for('static', filename='images/Services/camera.svg')}}" alt="">
                    <h2>Vídeo</h2>
                    <p>Contenido multimedia gratuito</p>
                    <a href="{{ ('/comming-soon') }}" class="card__service-i">
                        <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="mt-2 col">
                <div class="h-100 card box__card-primary align-items-center">
                    <img class="my-2 card__service-img" src="{{url_for('static', filename='images/Services/headphones.svg')}}" alt="">
                    <h2>Audio</h2>
                    <p>Disfruta de la sección de audio que tenemos preparada para ti</p>
                    <a href="{{ ('/comming-soon') }}" class="card__service-i">
                        <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="mt-2 col">
                <div class="h-100 card box__card-primary align-items-center">
                    <img class="my-3 card__service-img" src="{{url_for('static', filename='images/Services/file.svg')}}" alt="">
                    <h2>Libros y Documentos</h2>
                    <p>Aquí reside la biblioteca de la comunidad</p>
                    <a href="{{ ('/comming-soon') }}" class="card__service-i">
                        <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- COMENTARIOS -->
    <div class="container py-3 mt-3 d-flex justify-content-center">
        <div class="highlight">
            <div class="mx-auto p-2">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-bd-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  Abrir comentarios
                </button>
            </div>
        </div>
    </div>

    <!-- Scrollable modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Comentarios</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="container py-1 mt-2">
                    <div class="row d-flex rounded-2">
                    {% for comment in comments %}
                    <div class="container py-1 mt-2 border border-secondary-subtle rounded-3 shadow-lg">
                      <div class="col me-auto p-2 d-flex justify-content-between">
                        <strong class="justify-content-md-start">
                            {% if comment.author %}
                            <span class="badge text-bg-dark fs-6 border">
                                {{ comment.author.username }}
                            </span>
                            {% else %}
                            <span class="badge text-bg-dark fs-6 border">
                                anónimo
                            </span>
                            {% endif %}
                        </strong>
                        <small class="ms-2 mb-2">
                            {% if comment.posted %}
                                {{ comment.posted.strftime("%A, %d %B %Y at %H:%M") }}
                            {% else %}
                                at an unknown time
                            {% endif %}
                        </small>
                      </div>
                      <div class="col p-2 flex-grow-1">
                          {{ comment.content }}
                      </div>
                    </div>
                    {% endfor %}
                    </div>
                </div>
              </div>
              <div class="modal-footer">
                {% if current_user.is_authenticated %}
                    <div class="row mb-3 container themed-container">
                        <form action="/index" method="POST">
                            <div class="input-group mb-3">
                                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                  <input name="content" type="text" class="form-control rounded" placeholder="Deja un comentario aquí" aria-label="Deja un comentario" aria-describedby="button-addon2">
                                  <button class="btn btn-outline-success rounded-5 ms-1" type="submit" id="button-addon2" value="Enviar">Enviar</button>
                            </div>
                        </form>
                    </div>
                {% else %}
                    <div class="row mb-3 container themed-container mb-3">
                      <input name="contents" type="text" class="form-control rounded" placeholder="Inicia sesión para interactuar" aria-label="Deja un comentario" aria-describedby="button-addon2" disabled>
                    </div>
                {% endif %}
              </div>
            </div>
        </div>
    </div>

    <div class="container-fluid text-center mb-5">
        <div class="row gx-5 p-3 pb-0 pe-lg-0 pt-lg-5 mt-5 align-items-center rounded-3 shadow-lg">
            <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                    <h1>UNItems</h1>
                    {% if current_user.is_anonymous %}
                    <p>Únete a nuestra comunidad y disfruta de los beneficios.</p>
                    {% else %}
                    <p class="lead">¡Bienvenido! <span class="fw-bolder">{{ current_user.username }}</span></p>
                    <p class="lead">Comparte y Disfruta de la experiencia que ofrece UNItems.</p>
                    {% endif %}
                <div class="d-grid gap-2 d-md-flex justify-content-center mb-4 mb-lg-3">
                    {% if current_user.is_anonymous %}
                    <a href="{{ ('/login') }}"><button type="button" class="btn btn-bd-primary px-4 me-md-2 fw-bold">Inicia Sesión</button></a>
                    <a href="{{ ('/blog') }}"><button type="button" class="btn btn-outline-dark px-4 fw-bold">Noticias</button></a>
                    {% else %}
                    <a href="{{ ('/comming-soon') }}"><button type="button" class="btn btn-outline-dark btn-lg px-4">Intercambio</button></a>
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-4 offset-lg-1 overflow-hidden clearfix">
                <figure class="figure my-2 p-3 img__heroe">
                    <img src="{{url_for('static', filename='images/Cover/hero-img.png')}}" class="figure-img img-fluid rounded-lg-3" alt="...">
                </figure>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script>
    const myModal = document.getElementById('myModal')
    const myInput = document.getElementById('myInput')

    myModal.addEventListener('shown.bs.modal', () => {
      myInput.focus()
    })

    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-23581568-13');
</script>
{% endblock %}