<!DOCTYPE html>
<html lang="es" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{{url_for('static', filename='images/Logo/Unitems-logo.v1.1-re-hd-shortcut.png')}}" type="image/x-icon">
    <script src="{{url_for('static', filename='js/color-modes.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='scss/bootstrap.scss')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='scss/custom.scss')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='scss/variables.scss')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='scss/_utilities.scss')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='scss/_root.scss')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='scss/_variables-dark.scss')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='scss/mixins/_color-mode.scss')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    {% block css %}{% endblock %}
    <title>{% block titulo %} {% endblock %}</title>
</head>
<!-- ================================ -->
<!-- CUERPO DE LA PÁGINA -->
<!-- ================================ -->
<body>
<!-- ================================ -->
<!-- BARRA DE NAVEGACIÓN -->
<!-- ================================ -->
<header class="sticky-top">
  <nav class="navbar bg-light fixed-top shadow-lg navbar-ly">
    <div class="container-fluid">
      <a href="{{ ('/') }}"><img src="{{url_for('static', filename='images/Logo/Unitems-logo.v1.1-re-hd-shortcut.png')}}" width="45" height="34" class="d-inline-block align-text-top" alt="logo"></a>
      <a class="navbar-brand" href="{{ ('/') }}">UNItems</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menú</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ ('/') }}">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Noticias</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">Ayuda</a>
            </li>
            {% if current_user.username=="sorum" %}
            <li class="nav-item">
              <a class="nav-link active" href="{{ ('/admin') }}">Administrador</a>
            </li>
            {% else %}
            <p></p>
            {% endif %}
          </ul>
          <hr>
          {% if current_user.is_anonymous %}
          <a href="{{ ('/loginUser') }}"><button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Inicia Sesión</button></a>
          {% else %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ ('/perfilUser') }}">Perfil<span class="badge text-bg-primary fs-6">{{ current_user.username }}</span></a>
          </li>
          <a class="btn btn-secondary my-2" aria-current="page" href="{{ ('/logout') }}">Cerrar Sesión</a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
</div>
</header>

  <main>
    {% block contenido %} {% endblock %}
  </main>
    <!-- ======================= -->
    <!-- FOOTER -->
    <!-- ======================= -->
    <div class="container">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
          <a href="{{ ('/') }}" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
            <img class="bi me-2" width="205" height="115" src="{{url_for('static', filename='images/Logo/Unitems-logo.v1.1-re.png')}}" alt="Logo">
          </a>
        </div>
        <ul class="nav col-md-4 justify-content-end list-inline d-flex">
          <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Inicio</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Noticias</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Comunidad</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Acerca de</a></li>
        </ul>
      </footer>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script> 
    {% block js %}{% endblock %}
</body>
</html>