<!--
  Hey, tú! Debes leer esto antes de comenzar:
    _______
   /      /,
  /      //
 /______//
(______(/
Algunos libros
    _______
   /      /,
  /      //
 /______//
(______(/
son
    _______
   /      /,
  /      //
 /______//
(______(/
rolados aquí

/_/\
( o.o )
 > ^ <

-->

<!DOCTYPE html>
<html lang="es" data-bs-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="{{url_for('static', filename='js/color-modes.js')}}"></script>
    <link rel="shortcut icon" href="{{url_for('static', filename='images/Logo/Unitems-logo.v1.1-re-hd-shortcut.png')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    {% block css %}{% endblock %}
    <title>{% block titulo %}{% endblock %}</title>
</head>
<!-- ================================ -->
<!-- CUERPO DE LA PÁGINA -->
<!-- ================================ -->
<body>
<!-- Cambio color -->
<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
  <symbol id="check2" viewBox="0 0 16 16">
  <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"></path>
  </symbol>
  <symbol id="circle-half" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"></path>
  </symbol>
  <symbol id="moon-stars-fill" viewBox="0 0 16 16">
  <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"></path>
  <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"></path>
  </symbol>
  <symbol id="sun-fill" viewBox="0 0 16 16">
  <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"></path>
  </symbol>
</svg>

<!-- ================================ -->
<!-- BARRA DE NAVEGACIÓN -->
<!-- ================================ -->
<header class="fixed-top shadow-lg">
    {% block navbar %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Main navigation">
    <div class="container-fluid px-4 px-lg-5">
      <div class="d-flex link-body-emphasis text-center">
        <a class="navbar-brand" href="{{ ('/') }}"><img class="bi" src="{{url_for('static', filename='images/Logo/Unitems-logo.v1.1-re-hd-shortcut.png')}}" width="38" height="40" alt="logo">
        UNItems
        </a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbar2Label">Menú</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-around flex-grow-1 pe-3">
            {% if current_user.is_anonymous %}
            <li class="nav-item">
              <a class="nav-link active" href="{{ ('/news') }}">Noticias</a>
            </li>            
            {% else %}
            <li class="nav-item">
              <a class="nav-link active" href="{{ ('/feed') }}">Feed</a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link active" href="{{ ('/us') }}">Nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{{ ('/faqs') }}">Ayuda</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Perfil
              </a>
              <ul class="dropdown-menu mb-2">
                {% if current_user.is_anonymous %}
                <li class="nav-item">
                <a class="dropdown-item" href="{{ ('/login') }}"><span class="badge btn btn-bd-primary fs-6 border">Iniciar Sesión</span></a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="dropdown-item" href="{{ ('/perfilUser') }}" aria-current="page"><span class="badge btn btn-bd-primary fs-6 border">{{ current_user.username }}</span></a>
                </li>
                <!--<li>-->
                <!--  <a class="dropdown-item" href="{{ ('/set-webhook') }}"><span class="badge btn btn-bd-primary fs-6 border">Chats</span></a>-->
                <!--</li>-->
                <li class="nav-item">
                <a class="dropdown-item" href="{{ ('/logout') }}" aria-current="page"><span class="badge text-bg-dark fs-6 border">Cerrar Sesión</span></a>
                </li>
                {% endif %}
                {% if current_user.username=="sorum" %}
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li class="nav-item">
                  <a class="dropdown-item" href="{{ ('/admin') }}"><span class="badge text-bg-dark fs-6 border">Administrador</span></a>
                </li>
                {% else %}
                {% endif %}
              </ul>
              <!-- Cambiar color -->
              <!-- <li class="nav-item dropdown-center bd-mode-toggle mt-1">
                <button class="btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center" id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" aria-label="Toggle theme (light)">
                  <svg class="bi my-1 theme-icon-active" width="1em" height="1em"><use href="#sun-fill"></use></svg>
                  <span class="visually-hidden" id="bd-theme-text">Cambiar aspecto</span>
                </button>
                <ul class="dropdown-menu shadow-lg" style="width: 30px;" aria-labelledby="bd-theme-text">
                  <li>
                    <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="light" aria-pressed="true">
                      <svg class="bi me-2 opacity-50" width="1em" height="1em"><use href="#sun-fill"></use></svg>
                      Claro
                      <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
                    </button>
                  </li>
                  <li>
                    <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
                      <svg class="bi me-2 opacity-50" width="1em" height="1em"><use href="#moon-stars-fill"></use></svg>
                      Oscuro
                      <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
                    </button>
                  </li>
                  <li>
                    <button type="button" class=" dropdown-item d-flex align-items-center" data-bs-theme-value="auto" aria-pressed="false">
                      <svg class="bi me-2 opacity-50" width="1em" height="1em"><use href="#circle-half"></use></svg>
                      Auto
                      <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
                    </button>
                  </li>
                </ul>
              </li> -->
            </li>
          </ul>
          <!-- <form class="d-flex mt-3 mt-lg-0" role="search">
            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
          </form> -->
        </div>
      </div>
    </div>
  </nav>
{% endblock %}
</header>

  <main role="main" aria-labelledby="pageTitle">
    {% block contenido %} {% endblock %}
  </main>

    {% block footer %}
    <!-- ======================= -->
    <!-- FOOTER -->
    <!-- ======================= -->
    <div class="container-fluid py-3">
      <footer class="d-flex flex-wrap justify-content-center align-items-center border-top">
        <div class="d-flex align-items-center mb-3 mb-md-0">
          <a href="{{ ('/') }}" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
            <img class="me-2" width="200" height="115" src="{{url_for('static', filename='images/Logo/Unitems-logo.v1.1-re.png')}}" alt="Logo">
          </a>
        </div>
        <ul class="nav col-12 col-md-4 justify-content-center list-unstyled d-flex mb-0">
          <li class="nav-item"><a href="{{ ('/') }}" class="nav-link px-2 text-body-secondary">Inicio</a></li>
          <li class="nav-item"><a href="{{ ('/news') }}" class="nav-link px-2 text-body-secondary">Noticias</a></li>
          <li class="nav-item"><a href="{{ ('/faqs') }}" class="nav-link px-2 text-body-secondary">FAQs</a></li>
          <li class="nav-item"><a href="{{ ('/us') }}" class="nav-link px-2 text-body-secondary">Acerca de</a></li>
        </ul>
      </footer>
    </div>
    {% endblock %}
    <script src="{{url_for('static', filename='js/__index.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/popper.js')}}"></script>
    <!--<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>-->
    <!--<script type="text/javascript">-->
    <!--    var socket = io.connect('https://' + document.domain + ':' + location.port);-->
    <!--    function sendMessage() {-->
    <!--        console.log('sendMessage() called');-->
    <!--        var message = document.getElementById('message').value;-->
    <!--        socket.emit('message', {message: message});-->
    <!--    }-->
    <!--    socket.on('message', function(data) {-->
    <!--        var node = document.createElement("LI");-->
    <!--        var textnode = document.createTextNode(data.message);-->
    <!--        node.appendChild(textnode);-->
    <!--        document.getElementById("messages").appendChild(node);-->
    <!--    });-->

    <!--    socket.emit('messages', {-->
    <!--        sender_id: senderId,-->
    <!--        receiver_id: receiverId,-->
    <!--        content: messageContent-->
    <!--    });-->
    <!--</script>-->
    {% block js %}{% endblock %}
</body>
</html>