<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='navbar-top-fixed.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/carrousel.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/layout-main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/heroes/">
    <title>{% block titulo %} {% endblock %}</title>
    {% block css %}{% endblock %}
</head>
<!-- ================================ -->
<!-- BARRA DE NAVEGACIÓN -->
<!-- ================================ -->

<nav class="navbar navbar-expand-md navbar-dark bg-dark border-bottom border-body shadow-lg" data-bs-theme="dark" aria-label="Navbar-4">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
          <i class="fa fa-swatchbook"></i> UNItems
      </a>
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbarsExample04" style="">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item">
                  {% if current_user.is_anonymous %}
                <a class="dropdown-item" aria-current="page" href="/loginUser"  tabindex="-1">Inicia sesion</a>
                  {% else %}
                <a class="dropdown-item" aria-current="page" href="{{ ('/perfilUser') }}">Perfil <span class="badge text-bg-primary fs-6">{{ current_user.username }}</span></a>
                {% endif %}
                </a>
              </li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        {% if current_user.username=="sorum" %}
        <li class="nav-item">
          <a class="nav-link active" href="{{ ('/admin') }}">Administrador</a>
        </li>
        {% else %}
        <p></p>
        {% endif %}
        <form role="search">
          <input class="form-control" type="search" placeholder="Buscar" aria-label="Search">
        </form>
      </div>
    </div>
  </nav>

  {% block contenido %} {% endblock %}

<!-- ======================= -->
<!-- FOOTER -->
<!-- ======================= -->
        <footer>
            <div class="container__footer">
                <div class="box__footer">
                    <div class="logo">
                      <img src="{{url_for('static', filename='images/Logo/Unitems-logo.v1.1-re.png')}}" alt="Logo">
                    </div>
                </div>
                <div class="box__footer">
                    <h2>Soluciones</h2>
                    <a href="https://www.google.com">App Desarrollo</a>
                    <a href="#">App Marketing</a>
                    <a href="#">IOS Desarrollo</a>
                    <a href="#">Android Desarrollo</a>
                </div>

                <div class="box__footer">
                    <h2>Compañia</h2>
                    <a href="#">Acerca de</a>
                    <a href="#">Trabajos</a>
                    <a href="#">Procesos</a>
                    <a href="#">Servicios</a>
                </div>

                <div class="box__footer">
                    <h2>Redes Sociales</h2>
                    <a href="#"> <i class="fab fa-facebook-square"></i> Facebook</a>
                    <a href="#"><i class="fab fa-twitter-square"></i> Twitter</a>
                    <a href="#"><i class="fab fa-linkedin"></i> Linkedin</a>
                    <a href="#"><i class="fab fa-instagram-square"></i> Instagram</a>
                </div>
            </div>

            <div class="box__copyright">
                <hr><p>Materiales Educativos - <b>UNItems</b></p>
            </div>
        </footer>
{% block js %}{% endblock %}
</html>