{% extends "layout-for-login.html" %}
{% block titulo %} Learn To - Recuperación de contraseña {% endblock %}

{% block css %}
<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='css/layout-main.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
{% endblock %}

{% block contenido %}
<body>
  <div class="container">
    <div class="forms-container">
      <div class="signin-signup">
        <form action="/password-recovery" method="post" class="sign-in-form">
          {% with messages = get_flashed_messages() %}

          {% if messages %}
          <br/>
          {% for message in messages %}
          <div class="alert alert-primary alert-dismissible" role="alert">
              <strong>{{ message }}</strong>
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}
          {% endif %}
        
          {% endwith %}   
          <h2 class="title">Recuperación de Contraseña</h2>
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <div class="input-field">
              <i class="fas fa-envelope"></i>
            <input name="email" type="text" placeholder="Correo Electrónico" pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}" required>
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input name="password" type="password" placeholder="Contraseña" required>
          </div>
          <input type="submit" value="Continuar" class="btn-b solid">
        </form>
      </div>
    </div>

    <div class="panels-container">
      <div class="panel left-panel">
        <div class="content">
        </div>
        <img src="{{url_for('static', filename='assets/learning-icon.svg')}}" class="image" alt="" />
      </div>
      <div class="panel right-panel">
        <div class="content">
        </div>
        <img src="{{url_for('static', filename='assets/learn-icon.svg')}}" class="image" alt="" />
      </div>
    </div>
  </div>
</body>
{% endblock %}

{% block js %}<script src="{{url_for('static', filename='js/login.js')}}"></script> {% endblock %}