{% extends "layout.html" %}
{% block titulo %} {{ current_user.username }} {% endblock %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/profile-styles.css')}}">
{% endblock %}

{% block contenido %}
<body>
  <div class="p-5 perfil-usuario">
    <div class="container mt-5 mb-2 p-3 bg-light rounded shadow-lg">
      <div class="container p-2 bg-light rounded-2 shadow" style="--bs-bg-opacity: .3;">
        <div class="container text-center">
          <div class="portada-perfil bg-colorgradient">
              <div class="avatar-perfil">
                <img class="img-thumbnail" src="/uploads/profile/{{ current_user.imgprofile }}" alt="">
              </div>
              <div class="datos-perfil">
                <h4 class="titulo-usuario">{{ current_user.fullname }}</h4>
                <p class="bio-usuario">Lorem ipsum dolor sit, amet consectetur adipisicing.</p>
                <div class="container text-center">
                  <div class="row lista-perfil">
                    <div class="col">
                      {{ current_user.age }}
                    </div>
                    <div class="col">
                      {{ current_user.email }}
                    </div>
                    <div class="col">
                      {{ current_user.schoolgrade }}
                    </div>
                  </div>
                </div>
              </div>
            <div class="opciones-perfil">
              <a href="{{ ('/edit-user') }}"><button>Editar Perfil</button></a>
            </div>
            <div class="menu-perfil">
                <ul>
                  <li><a href="{{ ('/articles') }}" title="">Artículos</a></li>
                  <li><a href="{{ ('/comments') }}" title="">Comentarios</a></li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

{% endblock %}

{% block js %}{% endblock %}